// 页面结构
// - tab 栏（暂时保留）
// - 搜索栏
// - 按钮栏
// - 列表
// - 翻页器

.custom-tab-bar {
  // TODO: 保留
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

// 搜索栏
.custom-search-bar {
  // TODO: 保留
  // margin-bottom: 20px;
}

// 按钮栏
.custom-btns-bar {
  margin-bottom: 20px;
}

// 列表
.custom-comment {
  margin-bottom: 20px;
}

// 翻页器
.custom-pager {
  text-align: right;
}